html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
  }
  
  .bakgrunn {
    background: url(../images/Bakgrunn.jpeg);
    background-size: cover;
    background-attachment: fixed;
   
  }
  
  p {
    font-size: 1em;
    max-width: 500px;
    font-family: 'Poppins', sans-serif;
  }


/*Navbar*/

a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out;
  }
  
  nav {
    background: rgb(15,28,60);
    background: linear-gradient(30deg, rgba(15,28,60,1) 42%, rgba(23,23,54,1) 66%);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  nav ul {
    display: flex;
  }

  .nav-link:hover {
    color: #5253dd;
  }

  .current-page {
    font-weight: bolder;
    padding: 10px 20px;
    background: rgb(10,73,228);
    background: linear-gradient(30deg, rgba(10,73,228,1) 0%, rgba(82,83,221,1) 65%);
    border-radius: 5px;
    border: none;
  }
  
  nav li {
    display: inline-flex;
    padding: 10px;
    margin: auto;
  }

  .logo-nav {
    width: 70px;
  }

  

button {
    font-family: 'Poppins', sans-serif;
}

button:hover {
    cursor: pointer;
}

h1 {
    color: rgb(15,28,60);
    text-align: left;
    font-size: 60px;
     margin: 0px;
    font-family: 'Titillium Web', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

h2,h3 {
    color: rgb(15,28,60);
    font-family: 'Titillium Web', sans-serif;
}

.container {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh
  }
  

  .info { 
    display: inline-block;
    flex-direction: column; 
    align-items: center; 
    text-align: left;
    margin: 40px auto;
  }

  .logo-home {
    width: 200px;
    text-align: left;
  }


  .meg {
    width: 70%;
    height: 100%;
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }

  .image {
    display: grid;
    place-items: center;
  }

  footer {
    color: white;
    background: rgb(15,28,60);
    background: linear-gradient(30deg, rgba(15,28,60,1) 42%, rgba(23,23,54,1) 66%);
    padding: 20px;
    margin-bottom: 0px !important;
  }

  footer h3 {
    color: white;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
  }

  .logo-footer {
    width: 140px;
  }

  i {
    font-size: 40px;
    margin: 10px;
    padding: 10px 10px;
    background: rgb(10,73,228);
    background: linear-gradient(30deg, rgba(10,73,228,1) 0%, rgba(82,83,221,1) 65%);
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease-in-out;
  }


  i:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: linear-gradient(30deg, rgba(10,73,228,1) 62%, rgba(82,83,221,1) 86%);
  }
  
  .info i:hover {
    font-size: 40px;
    margin: 10px;
    padding: 10px 10px;
    background: rgb(10,73,228);
    background: linear-gradient(30deg, rgba(10,73,228,1) 0%, rgba(82,83,221,1) 65%);
    border-radius: 5px;
    border: none;
  }

  .icon {
    width: 42px;
    margin: 10px;
    padding: 10px 10px;
    background: rgb(10,73,228);
    background: linear-gradient(30deg, rgba(10,73,228,1) 0%, rgba(82,83,221,1) 65%);
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease-in-out;
  }

  .icon:hover {
    transform: scale(1.1);
  }

  .footer-info p i {
    background: none;
    font-size: 20px;
    margin: auto;
  }

  .footer-info p {
    max-width: none;
  }

  .cta-button {
    color: white;
    background: rgb(10,73,228);
    background: linear-gradient(30deg, rgba(10,73,228,1) 0%, rgba(82,83,221,1) 65%);
    padding: 10px 60px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease-in-out;
  }
  
  .cta-button:hover {
    color: white;
    background: linear-gradient(30deg, rgba(10,73,228,1) 62%, rgba(82,83,221,1) 86%);
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    
  }

  /*Project site*/

  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .project h3 {
    margin: 5px;
    color: rgb(15,28,60);
  }

  .project-info h1 {
    margin: 20px;
  }

  .project img {
    width: 100%;
    object-fit: cover;
  }

  .project button{
    color: white;
    background: rgb(10,73,228);
    background: linear-gradient(30deg, rgba(10,73,228,1) 0%, rgba(82,83,221,1) 65%);
    padding: 10px 30px;
    border: none;
    padding: 10px 30px;
    border-radius: 0px 0px 5px 5px;
    border: none;
    width: 100%;
  }

  .project button a:hover {
    text-decoration: underline;
  }

  .project {
    display: flex;
    flex-direction: column;
    width: 300px; 
    box-sizing: border-box;
    overflow: hidden;
    text-align: left;
    background: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0 gray, -3px -3px 5px 0 silver;
    transition: all 0.3s ease-in-out;
  }

  .project:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }

  .project-text {
    flex: 1;
    margin:5px;
    font-size: 1em;
  }



  .skills-container {
    display: flex;
  }

  @media (max-width: 1000px) {
    .container {
      grid-template-columns: 1fr;
    }
  
    .projects-container {
      grid-template-columns: 1fr;
      gap: 20px;
      justify-items: center;
    }
  
    .project-info, .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 40px 10px;
    }

    h1 {
        text-align: center;
    }
  
    .image {
      order: 1; /* Make image appear after info on small screens */
    }

    .meg {
        width: 50%;
    }

    .footer-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }
  }